<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kendo UI GridView Example</title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2022.1.301/styles/kendo.common.min.css">


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2022.1.301/js/kendo.all.min.js"></script>

    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/themes/6.7.0/default/default-ocean-blue.css" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2023.2.829/js/kendo.all.min.js"></script>






</head>

<body>
    <center>  <h1> Dummy Data Using Fake API</h1></center>
    <br />

    <div id="grid"></div>

    <script>
        $("#grid").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "https://jsonplaceholder.typicode.com/todos/",
                        dataType: "json"
                    }
                   
               }
               
            },
            columns: [
                // { field: "id", title: "id" },
                { field: "userId", title: "userId" },
                { field: "id", title: "id" },
                { field: "title", title: "title" },
                { field: "completed", title: "completed" },

                {  title: "&nbsp", width: "250px" }
            ],
            height: 550,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
        });
    </script>



</body>
